@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    display: flex; /* Make the header a flex container */
    justify-content: center; /* Center elements horizontally */
}

nav{
    padding: 1rem;
}
